

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c2a3a3;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.component-container {
  width: 400px;
  height: 300px;
  margin: 20px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.grey {
  background-color: grey;
}
.purple {
  background-color: rgb(181, 113, 181);
}
.yellow {
  background-color: yellowgreen;
}


/* for the line on compelete todos */

.line-through {
  text-decoration: line-through;
  /* color: red; */
  text-emphasis-color: yellow;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}